
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-s);
  font-family: var(--font);
 height: 600vh;
  
}

input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
:root{
  --font-xs:12px;
  --font-s:16px;
  --font-l:32px;
  --font-xl:64px;
  --font:  "Inter", sans-serif;
  --normal-thicknes:500;
  --bold-thickness:700;
  --normal-400:400;
  --normal-300:300;
}

footer{
  position:sticky;
  top: 100%;
  background-color: #141414;
  width: 100%;
}
.footer-data-upper{
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  padding: 40px;
  justify-content: space-between;
  font-size: var(--font-s);
  
}
.footer-data-upper > *{
  margin:15px;
}
.footer-data-bottom{
  padding: 20px;
  text-align: center;
  color: #adadad;
  background-color: black;
  margin-bottom: 30px;
}

.footer-data-upper .logo-media h1{
  text-transform: capitalize;
  font-weight: var(--normal-thicknes);
}
.footer-data-upper .logo-media p{
  font-size: var(--font-xs);
  margin: 5px 0 10px 0;
}
.footer-data-upper .logo-media .links{
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: calc(var(--font-s) * 1);
}
.footer-data-upper .logo-media .links > *{
  padding: 5px;
  border-radius: 50%;
}
.footer-data-upper .logo-media .links .bxl-instagram{
  background:linear-gradient(#7f37c9,#ff2992,#ff9807)
}
.footer-data-upper .logo-media .links .bxl-whatsapp{
  background-color: #1EA352;
}
.footer-data-upper .logo-media .links .bxl-facebook{
  background-color: #344B84;
}
.footer-data-upper .logo-media i{
  font-size:calc(var(--font-s) * 1.5 );
}

.footer-data-upper .blog{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.footer-data-upper span{
  font-size: var(--font-xs);
  opacity: .6;
}
.footer-data-upper .products{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.footer-data-upper .subscribe {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.footer-data-upper .subscribe p{
  opacity: .6;
  font-size: var(--font-xs);
  padding-right: 15px;
}
.footer-data-upper .subscribe .mail{
  display:flex;
  margin-top: 10px;
  height: 35px;
  border-radius: 10px;
  
}
.footer-data-upper .subscribe .mail input{
  background-color:black;
  border: none;
  border-radius: 5px 0 0 5px;
  color: #fff;


}
.footer-data-upper .subscribe .mail button{
  padding: 1px 15px;
  background-color: #612A95;
  text-align: center;
  border: none;
  color: #fff;
  border-radius:0  3px 3px  0 ;
}